# 문제 1
#### https://programmers.co.kr/skill_checks/612171

```txt
문제 설명
자연수 n을 뒤집어 각 자리 숫자를 원소로 가지는 배열 형태로 리턴해주세요. 예를들어 n이 12345이면 [5,4,3,2,1]을 리턴합니다.

제한 조건
n은 10,000,000,000이하인 자연수입니다.
입출력 예
n	return
12345	[5,4,3,2,1]
```

In [ ]:
def solution(n):
    # 자연수 n을 str로 변환
    # for loop으로 뒤집어서 int로 변환하여 저장
    
    # 시간복잡도 : O(n)
    
    s = str(n)
    answer = [int(s[i]) for i in range(len(s) -1, -1, -1)]
    
    return answer

```
테스트 1 〉	통과 (0.02ms, 9.23MB)
테스트 2 〉	통과 (0.02ms, 9.23MB)
테스트 3 〉	통과 (0.02ms, 9.32MB)
테스트 4 〉	통과 (0.02ms, 9.29MB)
테스트 5 〉	통과 (0.02ms, 9.29MB)
테스트 6 〉	통과 (0.03ms, 9.32MB)
테스트 7 〉	통과 (0.03ms, 9.32MB)
테스트 8 〉	통과 (0.02ms, 9.28MB)
테스트 9 〉	통과 (0.02ms, 9.29MB)
테스트 10 〉	통과 (0.02ms, 9.42MB)
테스트 11 〉	통과 (0.03ms, 9.36MB)
테스트 12 〉	통과 (0.02ms, 9.23MB)
테스트 13 〉	통과 (0.02ms, 9.32MB)
```